---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { actions } from "astro:actions";

import ProjectCard from "./ProjectCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { data, error } = await Astro.callAction(actions.getProjectsPaginated, {
    limit: 5,
    offset: 0,
});

if (error) {
    throw new Error("Error getting projects", error);
}

const projects = data?.data ?? [];
---

<section class="py-10 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
    <div class="text-gray-900 dark:text-white mb-6">
        <p class="text-dark dark:text-white text-2xl font-bold mb-10">{t("projects.title")}</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            {
                projects.map((project) => (
                    <ProjectCard
                        title={project.title_en}
                        description={project.description_en}
                        technologies={project.technologies}
                        repositoryUrl={project.repositoryUrl}
                        projectUrl={project.projectUrl}
                    />
                ))
            }
        </div>
    </div>
</section>
