---
import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);

import type { CollectionEntry } from "astro:content";
import { DateFormatter } from "@/utils/DateFormatter";
import { Image } from "astro:assets";

interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const frontmatter = post.data;
const postUrl = `/${post.slug.replace(/^([a-z]{2})\//, "$1/blog/")}`;
---

<div
    class="group overflow-hidden bg-white dark:bg-zinc-900 shadow-sm hover:shadow-lg transition-shadow duration-300 border border-zinc-200 dark:border-zinc-800 rounded-2xl"
>
    <a href={postUrl}>
        <Image
            width={1200}
            height={675}
            transition:name={`${frontmatter.image}-image`}
            class="w-full aspect-video object-cover transition-transform duration-300 rounded-t-2xl"
            src={`/blog/${frontmatter.image}`}
            alt={frontmatter.title}
        />
    </a>

    <div class="p-5 space-y-3">
        <p
            class="block text-xl font-semibold text-zinc-900 dark:text-white leading-snug transition-colors duration-200"
        >
            {frontmatter.title}
        </p>

        <p class="text-sm text-zinc-600 dark:text-zinc-400 line-clamp-3">
            {frontmatter.description}
        </p>

        <p class="text-xs text-zinc-500 dark:text-zinc-400">
            {DateFormatter.formatDate(frontmatter.date)}
        </p>
    </div>
</div>
