---
import LinkWrapper from "@/components/blog/LinkWrapper.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import "../../../styles/blog-slug.css";
import MainLayout, { type MainLayoutProps } from "@/layouts/MainLayout.astro";
import Button from "@/components/shared/ui/Button.astro";
import { FaArrowLeft } from "react-icons/fa";
import TableOfContent from "@/components/blog/TableOfContent.astro";
import FloatingButton from "@/components/shared/ui/FloatingButton";

const { lang, slug } = Astro.params;
const page = await getEntry("blog", `${lang}/${slug}`);
if (!page) return Astro.redirect("/404");

const frontmatter = page.data;
const { Content, headings } = await page.render();
const postUrl = `https://www.alandev.site/${lang}/blog/${slug}`;

const layoutProps: MainLayoutProps = {
    title: frontmatter.title,
    description: frontmatter.description,
    image: `/blog/${frontmatter.image}`,
    url: postUrl,
    keywords: frontmatter.tags ?? ["blog", "Astro", "programación"],
    lang,
};
---

<MainLayout {...layoutProps}>
    <!-- Table of content-->
    {
        Astro.request.headers.get("user-agent")?.includes("Mobile") ? null : (
            <TableOfContent slot="fixed" headings={headings} />
        )
    }

    <!-- Blog-slug Content -->
    <section class="blog relative mx-auto xl:pl-[13rem] 2xl:pl-0">
        <div class="flex-1 w-full min-w-0">
            <Button
                href={`/${lang}/blog`}
                className="btn mt-5"
                label="Regresar"
                icon={FaArrowLeft}
                variant="outline"
            />
            <h1
                class="text-4xl font-extrabold mb-4 text-zinc-900 dark:text-zinc-100 leading-tight"
            >
                {frontmatter.title}
            </h1>

            <div class="relative mb-8 overflow-hidden w-[800px]">
                <Image
                    width={800}
                    height={500}
                    transition:name={`${frontmatter.image}-image`}
                    class="w-full h-80 sm:h-96 object-cover rounded-2xl"
                    src={`/blog/${frontmatter.image}`}
                    alt={frontmatter.image}
                />
            </div>

            <p class="text-sm text-zinc-600 dark:text-zinc-400 mb-12">
                {lang === "en" ? "Published:" : "Publicado el:"}{" "}
                {
                    frontmatter.date.toLocaleDateString(lang, {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                    })
                }
            </p>

            <article
                class="prose prose-zinc dark:prose-invert max-w-none prose-headings:scroll-mt-20"
            >
                <Content components={{ a: LinkWrapper }} />
            </article>
        </div>
    </section>

    <!-- Floating button -->
    <FloatingButton slot="floating" client:only="react" />
</MainLayout>
