---
import LinkWrapper from "@/components/blog/LinkWrapper.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const { lang, slug } = Astro.params;
const page = await getEntry("blog", `${lang}/${slug}`);

if (!page) {
    return Astro.redirect("/404");
}

const frontmatter = page.data;
const { Content, headings } = await page.render();
---

<MainLayout>
    <section class="blog py-10 max-w-4xl mx-auto">
        <a
            href={`/${lang}/blog`}
            class="inline-block mb-6 text-sm text-blue-600 dark:text-blue-400 hover:underline"
        >
            ← Volver
        </a>

        <div class="relative">
            <Image
                width={1200}
                height={500}
                transition:name={`${frontmatter.image}-image`}
                class="relative z-10 object-cover w-full rounded-md h-96"
                src={`/blog/${frontmatter.image}`}
                alt={frontmatter.image}
            />
        </div>

        <h1 class="text-4xl font-bold mb-6 text-zinc-900 dark:text-zinc-100">
            {frontmatter.title}
        </h1>

        <p class="text-sm text-zinc-600 dark:text-zinc-400 mb-10">
            Publicado el {frontmatter.date.toLocaleDateString(lang)}
        </p>

        <div class="mb-10 border-l-4 border-blue-500 pl-4">
            <h2
                class="text-lg font-semibold text-zinc-800 dark:text-zinc-200 mb-2"
            >
                Tabla de contenidos
            </h2>
            <ol
                class="list-inside space-y-1 text-sm text-zinc-700 dark:text-zinc-300"
            >
                {
                    headings.map((heading, index) => (
                        <li>
                            <a
                                href={`#${heading.slug}`}
                                class="hover:underline hover:text-blue-600 dark:hover:text-blue-400"
                            >
                                {index + 1} - {heading.text}
                            </a>
                        </li>
                    ))
                }
            </ol>
        </div>

        <article class="prose prose-zinc dark:prose-invert max-w-none">
            <Content components={{ a: LinkWrapper }} />
        </article>

        <button
            aria-label="go-top"
            class="fixed bottom-6 right-6 px-4 py-3 rounded-sm bg-blue-600 text-white shadow-lg hover:bg-blue-700"
            onclick='window.scrollTo({ top: 0, behavior: "smooth" })'
        >
        ↑
        </button>
    </section>
</MainLayout>
